<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar | PlanIt </title>
    <link rel="stylesheet" href="/css/calendar.css" />
</head>
<body>
    <div id="container">
        <div class="navbar">
          <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
          <% if (hasUnread) { %>
            <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
          <% } else { %>
            <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
          <% } %>
          <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
          <a href="/users/<%=user.userId%>/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
        </div>
    </div>
    <div class="formCard">
      <section class="form-container">
        <div>
          <h1>Create an Account</h1>
        </div>
        <div class="form">
          <form action="/api/event" method="post">
            <label for="eventName">Event Name</label>
            <input
              id="eventName"
              name="eventName"
              placeholder="Event Name"
              class="text"
              type="text"
              maxlength="100"
              required
            />
            <label for="startYear">Start Year</label>
            <input
              id="startYear"
              name="startYear"
              placeholder="Start Year"
              class="text"
              type="number"
              maxlength="4"
              minlength="4"
              min="2024"
              required
            />
            <label for="startMonth">Start Month</label>
            <input
              id="startMonth"
              name="startMonth"
              placeholder="Start Month"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="12"
              required
            />
            <label for="startDay">Start Day</label>
            <input
              id="startDay"
              name="startDay"
              placeholder="Start Day"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="31"
              required
            />
            <label for="startHour">Start Hour</label>
            <input
              id="startHour"
              name="startHour"
              placeholder="Start Hour"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="12"
              required
            />
            <label for="startMinute">Start Minute</label>
            <input
              id="startMinute"
              name="startMinute"
              placeholder="Start Minute"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="0"
              max="59"
              required
            />
            <label for="stopYear">Stop Year</label>
            <input
              id="stopYear"
              name="stopYear"
              placeholder="Stop Year"
              class="text"
              type="number"
              maxlength="4"
              minlength="4"
              min="2024"
              required
            />
            <label for="stopMonth">Stop Month</label>
            <input
              id="stopMonth"
              name="stopMonth"
              placeholder="Stop Month"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="12"
              required
            />
            <label for="stopDay">Stop Day</label>
            <input
              id="stopDay"
              name="stopDay"
              placeholder="Stop Day"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="31"
              required
            />
            <label for="stopHour">Stop Hour</label>
            <input
              id="stopHour"
              name="stopHour"
              placeholder="Stop Hour"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="1"
              max="12"
              required
            />
            <label for="stopMinute">Stop Minute</label>
            <input
              id="stopMinute"
              name="stopMinute"
              placeholder="Stop Minute"
              class="text"
              type="number"
              maxlength="2"
              minlength="1"
              min="0"
              max="59"
            />
            <button class="btn">Create</button>
          </form>
        </div>
      </section>
    </div>

</body>
</html>