<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Account | PlanIt</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>MENU</h1>
    <ul>
        <li>
          <p>- <a href="/logo">Logo</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/calendar">Calendar</a></p>
        </li>
        <li>
            <p>- <a href="/search">Search</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/messages">Inbox</a></p>
        </li>
    </ul>

    <div class = "form">
      <form method = "POST" action = "/api/delete">
        <label for = "email"></label>
        <input name = "email" id = "email" class = "email" placeholder = "Email" type = "email" required>

        <label for = "password"></label>
        <input name = "password" id = "password" class = "password" placeholder = "Password" type = "password" required>

        <button class = "btn">Delete Account</button>
      </form>
    </div>

  </body>
</html>
