<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.title %> | Event on PlanIt </title>
</head>
<body>
    <h1>MENU</h1>
    <ul>
        <li>
            <p>- <a href="/logo">Logo</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/calendar">Calendar</a></p>
        </li>
        <li>
            <p>- <a href="/search">Search</a></p>
        </li>
        <li>
            <p>- <a href="/users/<%= user.userId %>/messages">Inbox</a></p>
        </li>
    </ul>
    
    <h1 class="big-title">WIP</h1>
</body>
</html>