<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Followers | PlanIt</title>
</head>
<body>
    <div class="navbar">
        <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
        <% if (hasUnread) { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
        <% } else { %>
          <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
        <% } %>
        <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
        <a href="/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <h1 class = "follow-header" id ="navbarEnd"><%= user.username %>'s Followers:</h1>

    <% if (user.followers.length === 0) { %>
    <p>No Followers</p>
    <% } else { %>
    <ul>
        <% for (const follower of user.followers) { %>
        <li>
            <p>- <a href="/users/<%= follower.requestingUserId %>"><%= follower.requestingUsername %></a></p>
        </li>
        <% } %>
    </ul>
    <% } %>

</body>
</html>