<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Start New Message Thread | PlanIt </title>
</head>
<body>
  <div class="navbar">
    <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
    <a href="/messages" class="menu"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
    <a href="/search" class="menu"><img src="/imgs/search_icon.png" alt="Search"></a>
    <a href="/calendar" class="menu"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
  </div>
    
    <h1 class="big-title" id="navbarEnd">Start a New Message Thread</h1>
    <h2>Sender: <%=user.username%></h2>

    <div class = "form">
        <form method = "POST" action = "/api/send">
          <label for="username">Receiver</label>
            <select id="username" name="username">
              <% for (const friend of friends) { %>
                <option value="<%=friend.username%>"><%=friend.username%></option>
              <% } %>  
            </select>

          <label for="body">Message</label>
            <input
              id="body"
              name="body"
              placeholder="Message (Up to 100 Characters)"
              class="text"
              type="text"
              maxlength="100"
              required
            />
          <button class = "btn">Send Message</button>
        </form>
      </div>
</body>
</html>