<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings | PlanIt</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="star-background">
    <div class="navbar">
      <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
      <% if (hasUnread) { %>
        <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_notification_icon.png" alt="Inbox (Notifications)"></a>
      <% } else { %>
        <a href="/messages" class="menu-inbox"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
      <% } %>
      <a href="/search" class="menu-search"><img src="/imgs/search_icon.png" alt="Search"></a>
      <a href="/calendar" class="menu-calendar"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <div class="settings-menu">
    <h1 id="navbarEnd">Settings</h1>
      <ul>
        <% if (!user.verifiedEmail) { %>
        <li>
          <p><a href="/verify">Verify Email</a></p>
        </li>
        <% } %>
        <li>
          <p><a href="/users/<%=user.userId%>/blocked">Blocked Users</a></p>
        </li>
        <li>
          <p><a href="/signout">Sign Out</a></p>
        </li>
        <li>
          <p><a href="/delete">Delete Account</a></p>
        </li>
      </ul>
    </div>
  </body>
  <style>
    @import url('https://fonts.cdnfonts.com/css/bukhari-script');
  </style>
</html>
