<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email | PlanIt</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/logo" class="logo"><img src="/imgs/logo.png" alt="PlanIt Logo"></a>
      <a href="/messages" class="menu"><img src="/imgs/inbox_icon.png" alt="Inbox (No Notifications)"></a>
      <a href="/search" class="menu"><img src="/imgs/search_icon.png" alt="Search"></a>
      <a href="/calendar" class="menu"><img src="/imgs/calendar_icon.png" alt="Calendar"></a>
    </div>

    <h1 id = "navbarEnd">WIP</h1>

    <% if (user.verifiedEmail) { %>
      <p>Your email is already verified!</p>
    <% } else { %>
      <p>A verifcation code has been sent to your email.
         Enter it to verify your email.
      </p>
      <div class = "form">
        <form method = "POST" action = "/api/verify">
          <label for="verifyCode">Verification Code</label>
            <input
              id="verifyCode"
              name="verifyCode"
              placeholder="Verification Code"
              class="number"
              type="number"
              required
            />
          <button class = "btn">Verify Email</button>
        </form>
      </div>
    <% } %>
  </body>
</html>