body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-image: url('/imgs/background_plain.jpg');
  background-size: cover;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
#header button {
  background-color:#92a1d1;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#eventText {
  font-size: 14px;
}

.event-day {
  background-color: red;
}

/* Style the navbar */
.navbar {
  overflow: visible;
  position: relative;
  align-items: center;
  padding: 14px;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 225), rgb(255, 128, 0));
}

/* Navbar links */
.navbar .menu {
  position: relative;
  padding: 1%;
}

.logo {
  position: absolute;
  right: -45px;
  top: -45px;
  z-index: 10;
  transform: scale(0.65);
}

#navbarEnd {
  position: relative;
  margin-top: 3%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#createButton{
  color: black;
}

#backButton {
  text-align: center;
  color: #d36c6c;
}

#nextButton {
  text-align: center;
  color: #d36c6c;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px; /* Set the height of the container */
  width: 50px; /* Adjust width as needed */
  border-left: 1px solid #ccc; /* Add a border to separate numbers from content */
  padding-right: 10px; /* Add padding for better visual appearance */
}
.time {
  color: white;
  text-align: left; /* Align numbers to the right */
}